@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Wendy+One&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  font-family: "Ubuntu", serif;
  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 64px;
  background: linear-gradient(180deg, #00aeee 0%, #006388 100%);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: linear-gradient(180deg, #00aeee 0%, #006388 100%);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: start;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 577px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 0px 0 50px;

  border-radius: 0px 0px 20px 20px;
  gap: 32px;
  background: rgba(1, 113, 155, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
}
.navigation__link:hover,
.navigation__link:focus {
  font-family: Ubuntu;
  font-weight: 700;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 60px;
    padding: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 60px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;

    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 765px;

  padding: 100px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/Block\ 1.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  width: 335px;
  height: 81.10527038574219px;
}

.home-text {
  font-family: Wendy One;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  padding: 8px 0 8px;
}
.home-text-two {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.home__google-button_link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 800px;
    padding: 110px 88px 0px;
    background-image: url("/image/home/Hero.png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 585px;
  }
  .home-title {
    width: 570px;
    height: 138px;
  }

  .home-text {
    font-family: Wendy One;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;

    padding: 12px 0 28px;
  }
  .home-text-two {
    font-family: Ubuntu;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 20px;
  }
}
.about {
  padding: 60px 15px 0px;
  margin: auto;
  width: 375px;
  height: 1108px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/about/About\ the\ Game.png");
}

.about-title {
  font-family: Wendy One;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}

.about-text {
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  padding: 49px 0px 0;
}
.about-list {
  padding: 20px 0 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  list-style-type: disc;
}
.about-text-bold {
  font-family: Mochiy Pop P One;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(218, 255, 13, 1);
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 88px 88px 0px 627px;
    margin: auto;
    width: 1440px;
    height: 699px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-image: url("/image/about/About\ us.png");
  }

  .about-title {
    font-family: Wendy One;
    font-weight: 400;
    font-size: 44px;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: center;
  }

  .about-text {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;

    padding: 55px 0px 0;
  }
  .about-list {
    padding: 20px 0 28px 20px;
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
  }
  .about-text-bold {
    font-family: Mochiy Pop P One;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.how {
  width: 375px;
  background: linear-gradient(180deg, #0c5eb4 0%, #05294e 100%);

  margin: auto;
  padding: 60px 20px;
}
.how-image {
  width: 100px;
  height: 100px;
  margin-left: 254px;
  margin-top: -29px;
  margin-bottom: -70px;
  position: relative;
  z-index: 20;
}
.how-list {
  padding-top: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.how-item {
  display: flex;
  gap: 16px;
  border-radius: 20px;
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 20px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 8px 12px 0px rgba(5, 123, 201, 1);
  color: rgba(32, 32, 33, 1);
}
.how-img {
  width: 55px;
  height: 53px;
}
.how-text-bold {
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.how-text {
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.how-text-bold-two {
  font-family: Wendy One;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 28px;
}
@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    padding: 88px 106px;
  }
  .how-image {
    width: 272px;
    height: 259px;
    margin-left: 1021px;
    margin-top: -139px;
    margin-bottom: -120px;
    position: relative;
    z-index: 20;
  }
  .how-list {
    padding-top: 60px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
  }
  .how-item {
    display: flex;
    gap: 20px;
    width: 388px;
    border-radius: 20px;
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 16px;
    padding-left: 20px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 8px 12px 0px rgba(5, 123, 201, 1);
    color: rgba(32, 32, 33, 1);
  }
  .how-img {
    width: 69px;
    height: 68px;
  }

  .how-text-bold-two {
    font-family: Wendy One;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    width: 968px;
    margin: auto;
    padding-top: 36px;
  }
}

.faq {
  padding: 40px 20px;
  margin: auto;
  width: 375px;
  height: 1592px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/faq/FAQ.png");
}
.faq-container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq-item {
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(134, 150, 255, 1);
  border-radius: 20px;
  padding-top: 20px;
  padding-right: 28px;
  padding-bottom: 20px;
  padding-left: 28px;
}

.faq-question {
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;

  color: rgba(53, 56, 63, 1);
}

.faq-answer {
  padding-top: 12px;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(53, 56, 63, 1);
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 88px 140px;
    margin: auto;
    width: 1440px;
    height: 1372px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/faq/Gallery.png");
  }
  .faq-container {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .faq-question {
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
  }

  .faq-answer {
    padding-top: 12px;
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
  }
}
.gallery {
  width: 375px;
  margin: auto;
  padding: 60px 0px;
  background: rgba(12, 94, 180, 1);
}

.gallery__list {
  width: auto;
  padding-top: 40px;
  padding-bottom: 24px;
  margin: auto;
}
.gallery__item {
  width: 336px;
  height: 598px;
  overflow: hidden;
  position: relative;
  margin: 0 4px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}
.gallery-image {
  display: none;
}
@media screen and (min-width: 1200px) {
  .gallery-image {
    display: flex;
    margin-top: -140px;
  }
  .gallery {
    width: 1440px;

    margin: auto;
    padding: 88px 0 0;
  }

  .gallery__item {
    width: 360px;
    height: 640px;
    margin: 0 10px;
  }

  .gallery__list {
    width: auto;
    padding: 40px 0 40px;
  }
}
.features {
  width: 375px;
  margin: auto;
  padding: 60px 20px;
  background: rgba(6, 43, 81, 1);
}

.features-list {
  padding-top: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.features-item {
  width: 280px;
  height: 280px;
  margin: auto;
  padding: 36px 28px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url("/image/features/Frame\ 1597880766.png");
}
.features-img {
  margin: auto;
}
.features-text-bold {
  font-family: Wendy One;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(0, 68, 139, 1);
  padding: 14px 0 12px;
}
.features-text {
  color: rgba(0, 68, 139, 1);
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    padding: 88px 100px;
  }
  .features-list {
    padding-top: 60px;
    flex-direction: row;
    gap: 40px;
  }
}
.footer {
  background: rgba(0, 36, 107, 1);
  color: #ffffff;
  padding: 40px 0px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;

  align-items: center;

  gap: 4px;
}
.footer-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;

    gap: 4px;
  }
  .footer-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .footer-copyright {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
  }
}
.policy-terms-container {
  padding: 136px 20px 60px;
  color: rgba(41, 42, 43, 1);
}
.policy-terms-title {
  font-family: Wendy One;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;

  text-transform: uppercase;
}

.policy-terms-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;

  padding-top: 20px;
}
.policy-terms-texts {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;

  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;

  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 130px 88px 80px;
  }
  .policy-terms-title {
    font-family: Wendy One;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 30px;
  background: rgba(211, 233, 255, 1);

  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;

  color: rgba(16, 24, 47, 1);
}
.cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.cookie-button {
  border: none;
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  border: none;
  background-color: transparent;
  height: 34px;
  border-radius: 50px;
  padding-top: 7px;
  padding-right: 31px;
  padding-bottom: 7px;
  padding-left: 31px;
  background: rgba(16, 24, 47, 1);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
}
#accept-cookies {
  background: rgba(19, 113, 212, 1);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;

    width: 818px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 20px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
